---
import ProjectImage from './ProjectImage.astro'
---

<div class="container mt-20 lg:mt-64 xl:mt-72   standard-section">
  <section class="w-full">
    <h2 id="work" class="secondary-title">My work</h2>
    <p class="section-paragraph">I’ve had the pleasure of working with multiple Fortune 500 companies, designing and implementing both frontend and backend.</p>

    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6 ">
      <ProjectImage image='project-1'/>
      <ProjectImage image='project-2'/>
      <ProjectImage image='project-3' classExtra="hidden md:block"/>
      <ProjectImage image='project-4' classExtra="hidden md:block"/>
      <ProjectImage image='project-5' classExtra="hidden md:block"/>
      <ProjectImage image='project-6' classExtra="hidden md:block"/>
      <ProjectImage image='project-7' classExtra="hidden md:block"/>
      <ProjectImage image='project-8' classExtra="hidden md:block"/>
      <ProjectImage image='project-9' classExtra="hidden md:block md:col-span-2 lg:col-span-1"/>
    </div>
  </section>
</div>
